.isClosed{
  width: 60px !important;
}
.isClosed > button{
  margin: 0;
}
.isClosed > div{
  width: 45px;
}
.isClosed > article{
  width: 100% !important;
  padding-left: 0rem !important;
  align-items: center !important;
}
.isActive{
  height: min-content !important;
}
.isClosed .isActive{
  height: 0px !important;
}